.header__button a, .et-fixed-header #main-header .header__button a {
	color: #1AB7EA!important;
	font-size: 16px;
	font-weight: 500!important;
	display: flex!important;
  align-items: center;
	padding-bottom: 0!important;
  justify-content: space-between;
	transition: .3s;
	height: 49px;
	width: 100%;
	max-width: 220px;
	margin-top: -16px;
	padding-left: 23px;
	padding-right: 73px!important;
  cursor: pointer;
  white-space: nowrap;
	border: 1px solid #1AB7EA;
	border-bottom: 1px solid #1AB7EA !important;
	transition: .3s;
	border-radius: 6px;
	position: relative!important;
	overflow: hidden;
	 cursor: pointer;
}

@media only screen and (min-width: 981px) {
	.et-fixed-header #top-menu .header__button a {
		color:#1AB7EA!important;
		font-weight: 500!important;
	}
	
	#top-menu .header__button a:hover {
		background: #0da6d7;
		color: #ffffff!important;
	}
	
	.header__button a:hover:after {
		background-color: #ffffff;
		right: -20px;
		transform: translateX(60px);
		opacity: 0;
	}
	
	.header__button a:hover:before {
	opacity: 1;
	transform: translateX(0);
		background-color: #ffffff;
}
}

.menu-item-146 {
	float: right;
}

.nav li.et-touch-hover>ul,
.nav li.et-hover>ul,
.nav li:hover>ul {
	opacity: 0;
	visibility: hidden;
}

#main-header ul.sub-menu.hide.visible, #main-header ul.second-level-sub-menu.visible {
	opacity: 1;
	visibility: visible;
}

@media all and (min-width: 1150px) {
	.header__button {
	margin-top: -16px;
	margin-left: auto;
	}
}

@media all and (max-width: 1149px) {
	#main-header .header__button {
		float: initial;
		padding: 10px 5%;
		margin-top: 30px;
		
	}
	
	#main-header .header__button a {
		margin-top: 0;
		max-width: fit-content;
		padding: 10px 5%;
    padding-bottom: 10px !important;
	}
	
	.logo_container {
		top: 0;
		    height: auto;
    top: 50%;
		    transform: translateY(-50%);

	}
	
	.sub-menu {
		padding: 0!important;
	}

}

.logo_container {
	    max-width: 90vw;
}

.header__button a:after, .header__button a:before {
content: '';
	position: absolute;
	right: 24px;
      width: 31px;
        height: 31px;
      margin-left: 14px;
  border: 1px solid transparent;
        border-radius: 50%;
  transform: rotate(0deg);
        transition: .3s;
	background-repeat: no-repeat;
	background-color: #1AB7EA;
      background-position: center;
 mask: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.244 11.2721C12.3612 11.4221 12.5378 11.5002 12.7143 11.5002C12.8456 11.5002 12.9769 11.4579 13.0862 11.3704L14.98 9.87196L18.516 6.71881C18.6441 6.60319 18.7175 6.43913 18.716 6.26569C18.7144 6.09225 18.6394 5.92819 18.5081 5.81569L13.0393 1.09085C12.7893 0.875223 12.4096 0.901783 12.1924 1.15335C11.9768 1.40491 12.0033 1.78305 12.2549 2.00024L16.4476 5.62256H1.50625C1.175 5.62256 0.90625 5.89131 0.90625 6.22256C0.90625 6.55381 1.175 6.82257 1.50625 6.82257H16.5964L14.2081 8.95329L12.3424 10.4299C12.0831 10.6345 12.0377 11.0127 12.244 11.2721Z' fill='%230091E2'/%3E%3C/svg%3E%0A") no-repeat 50%;
}

.header__button a:before {
	opacity: 0;
	transform: translateX(-40px);
}

#mobile_menu {
	padding: 0;
	top: 111px;
	background-color: #ffffff!important;
}

#main-header li a {
	    font-family: 'Hanken Grotesk', sans-serif;
	font-weight: 400;
}
#logo {
	max-height: 41px!important;
}

.container {
	width: 92%;
}



#top-menu-nav, #top-menu {
	width: 100%;
}

#top-menu li a {
	position: relative;
}

#top-menu .menu-item-has-children a {
	position: relative;
}

#main-header .sub-menu {
	width: 100%;
	background-color: #F3F3F3!important;
	border-top: 1px solid #28BBEB;
	padding: 0;
}

#main-header .sub-menu li {
	border-bottom: 1px solid #fff;
	padding: 0;
	width: 100%;
	position: initial;
}

#main-header .sub-menu li a {
	position: relative;
    width: 100%;
    padding: clamp(10px, 4vw, 36px) clamp(10px, 3vw, 30px);
	font-family: Inter;
	font-weight: 400;
}

#top-menu {
	position: relative;
}

#top-menu li {
	position: initial;
	padding-right: 36px;
}

#top-menu li a {
	max-width: 233px;
	position: initial;
}

#main-header .sub-menu > li.active > a {
	background: #5ECCF0;
	color: #fff;
	z-index: 2000;
}

#main-header .sub-menu li a:after, #mobile_menu .sub-menu li.dt-open a:after {
	content: ''!important;
	    font-family: auto!important;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: -6px!important;
    top: 50%!important;
    transform: translateY(-50%);
    background: transparent;
	transition: opacity 0.4s ease-in-out, background 0.4s ease-in-out;
}

#main-header .sub-menu li.active a:after, #mobile_menu .sub-menu li.dt-open a:after {
	background: #5ECCF0;
}

#main-header .second-level-sub-menu {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 231px);
	left: 232px;
	background: #F8F8F8;
	gap: clamp(10px, 3vw, 36px) clamp(15px, 4vw, 48px);
	padding: clamp(10px, 3vw, 47px) clamp(15px, 4vw, 60px);
	top: -1px;
	border-top: 1px solid #2ea3f2;
	background-color: #F8F8F8!important; 
	box-shadow: none;
}

@media (min-width: 1400px) {
	#main-header .sub-menu, #main-header .second-level-sub-menu {
		height: 700px;
	}
	
	.menu-all {
		margin-left: calc(46% + 46px);
	}
}

#main-header .second-level-sub-menu li {
	width: 46%;
	border-bottom: none;
}

@media (min-width: 1150px) {
	#main-header .sub-menu, #main-header .second-level-sub-menu {
		height: 660px	
	}
	
	#main-header .second-level-sub-menu {
		padding: 20px;
		display: flex;
		align-items: flex-start
	}
	
	#main-header .second-level-sub-menu li {
		width: 44%;
	}
	
	#top-menu {
		display: flex;
		align-items: center;
	}
	
	#et-top-navigation {
	    width: calc(640px + ((100% - 640px) / 2));
    padding-left: 0 !important;
}
}

@media (min-width: 1660px) {
	#main-header .sub-menu {
		height: 574px;
	}
	
	#main-header .second-level-sub-menu {
		height: 574px;
	}
	
	.menu-all {
		margin-left: calc(46% + 46px);
	}
}

#main-header .sub-menu .second-level-sub-menu li a {
	max-width: 361px;
	padding: 0;
	font-family: Inter;
	font-weight: 500;
	color: #000;
}

#main-header .second-level-sub-menu .menu-item-description {
	display: block;
	font-family: Inter;
	font-size: 14px;
	line-height: 19px;
	color: rgba(0, 0, 0, .5);
	font-weight: 400;
}

#main-header .second-level-sub-menu li a {
	background: transparent;
}

#main-header .second-level-sub-menu li {
	height: auto;
}


#main-header .second-level-sub-menu li a:hover:after, #main-header .second-level-sub-menu li a:after  {
	display: none;
}


#main-header .second-level-sub-menu li.menu-2-1 a:before {
	  content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0;
    top: 0;
	background-image: url("website2025.trustnetinc.com/wp-content/uploads/2024/11/header-logo.png");
}

#main-header .second-level-sub-menu .menu-item {
	position: relative;
	padding-left: 56px;
}

#main-header .second-level-sub-menu .menu-item:before {
	content: '';
	position: absolute;
	left: 0;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@media only screen and (max-width: 1149px) {
    #top-menu {
        display: none;
    }
    #et_mobile_nav_menu {
        display: block;
    }
	
	#main-header .container {
		width: 100%;
		padding: 16px;
	}
	
		#main-header .et_mobile_menu .second-level-sub-menu {
		width: 100%;
		visibility: initial!important;
			padding: 0;
	}
	
	#main-header .second-level-sub-menu li {
		width: 100%;
		margin-bottom: 12px;
		    border-bottom: 1px solid rgba(0, 0, 0, .03);
		padding-bottom: 12px;
	}
	
	#main-header .second-level-sub-menu li a {
		padding-bottom: 12px;
		border-bottom: none;
	}
	
#main-header .et_mobile_menu .sub-menu, #main-header .et_mobile_menu .second-level-sub-menu {
		height: 0!important;
	visibility: hidden!important;
	} 
	
	#main-header .et_mobile_menu .sub-menu.visible, #main-header .et_mobile_menu .second-level-sub-menu.visible  {
	visibility: visible !important;
		height: auto!important;
		padding: 0!important;
}
	
	#main-header .et_mobile_menu .second-level-sub-menu.visible  {
		padding: 10px!important;
}
	
	#main-header .second-level-sub-menu li a:hover {
	background: transparent;
}
	
	#main-header .second-level-sub-menu li a:hover:after {
	display: none;
}
	
	#main-header .sub-menu li a:hover:after {
	background: #5ECCF0;
}
	
	#main-header .sub-menu > li.active > a, #main-header .sub-menu > li > a:hover {
	background: #5ECCF0;
	color: #fff;
	z-index: 2000;
}
	
} 

#main-header .menu-1-1:before {
	background-image: url(../../uploads/2024/11/menu-1-2.png)
}

#main-header .menu-1-2:before {
	background-image: url(../../uploads/2024/11/menu-1-2.png)
}

#main-header .menu-1-3:before {
	background-image: url(../../uploads/2024/11/menu-1-1.png)
}

#main-header .menu-1-4:before {
	background-image: url(../../uploads/2024/11/menu-1-4.png)
}

#main-header .menu-1-5:before {
	background-image: url(../../uploads/2024/11/menu-1-5.png)
}

#main-header .menu-1-6:before {
	background-image: url(../../uploads/2024/11/menu-1-1.png)
}

#main-header .menu-1-7:before {
	background-image: url(../../uploads/2024/11/menu-1-7.png)
}

#main-header .menu-1-8:before {
	background-image: url(../../uploads/2024/11/menu-1-8.png)
}

#main-header .menu-2-1:before {
	background-image: url(../../uploads/2024/11/menu-2-1.png)
}

#main-header .menu-2-2:before {
	background-image: url(../../uploads/2024/11/menu-2-2.png)
}

#main-header .menu-2-3:before {
	background-image: url(../../uploads/2024/11/menu-2-1.png)
}

#main-header .menu-2-4:before {
	background-image: url(../../uploads/2024/11/menu-2-4.png)
}

#main-header .menu-2-5:before {
	background-image: url(../../uploads/2024/11/menu-2-5.png)
}

#main-header .menu-2-6:before {
	background-image: url(../../uploads/2024/11/menu-2-6.png)
}

#main-header .menu-2-7:before {
	background-image: url(../../uploads/2024/11/menu-2-7.png)
}

#main-header .menu-2-8:before {
	background-image: url(../../uploads/2024/11/menu-2-8.png)
}

#main-header .menu-3-1:before {
	background-image: url(../../uploads/2024/11/menu-3-1.png)
}

#main-header .menu-3-2:before {
	background-image: url(../../uploads/2024/11/menu-3-2.png)
}

#main-header .menu-3-3:before {
	background-image: url(../../uploads/2024/11/menu-3-3.png)
}

#main-header .menu-3-4:before {
	background-image: url(../../uploads/2024/11/menu-3-4.png)
}

#mobile_menu {
	height: calc(100vh - 70px);
	overflow: auto;
}

ul.et_mobile_menu li.menu-item-has-children .mobile-toggle,
#mobile_menu li.menu-item-has-children .mobile-toggle,
#mobile_menu .sub-menu li .mobile-toggle {
	width: 100%;
	height: 100%;
	padding: 0px !important;
	max-height: 44px;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 999;
	background-color: transparent;
}

.et-db #et-boc .sub-menu li .mobile-toggle {
	max-height: 96px;
}

ul.et_mobile_menu>li.menu-item-has-children,
ul.et_mobile_menu>li.page_item_has_children,
ul.et_mobile_menu>li.menu-item-has-children .sub-menu li.menu-item-has-children,
.et-db #et-boc .et-l ul.et_mobile_menu>li.menu-item-has-children,
.et-db #et-boc .et-l ul.et_mobile_menu>li.page_item_has_children,
#main-header #mobile_menu .sub-menu li.menu-item-has-children {
	position: relative;
}

@media (max-width: 1149px) {
    #mobile_menu li a {
        font-size: 32px;
        line-height: 70px;
    }
	
	#mobile_menu li.menu-item-has-children a {
		position: relative;
	}
	
	#mobile_menu .sub-menu li.dt-open {
		background: #5ECCF0;
	}
	
	#mobile_menu .sub-menu li.dt-open>a {
		color: #ffffff;
	}
	
	#main-header .sub-menu li a:after, #mobile_menu .sub-menu li.dt-open a:after {
		bottom: -4px;
    right: calc(50% + 6px) !important;
    transform: translateY(0);
		    top: initial!important;
	}
	
	#mobile_menu li.menu-item-has-children .mobile-toggle:before {
		content: '';
		position: absolute;
        top: calc(50% - 7px);
        right: 5%;
      width: 21px;
        height: 13px;
      margin-left: 14px;
  background-repeat: no-repeat;
  border: 1px solid transparent;
        border-radius: 50%;
  transform: rotate(0deg);
        transition: .3s;
      background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.2399 1.0002C19.6786 0.409318 18.7688 0.409318 18.2075 1.0002L10.3796 9.24162L2.55176 1.0002C1.99052 0.409319 1.08056 0.409319 0.519319 1.0002C-0.041922 1.59109 -0.041922 2.54913 0.519319 3.14002L9.3634 12.4514C9.92465 13.0423 10.8346 13.0423 11.3959 12.4514L20.2399 3.14002C20.8012 2.54913 20.8012 1.59109 20.2399 1.0002Z' fill='%231A1A1A' fill-opacity='0.61'/%3E%3C/svg%3E%0A");
	}
	
	#mobile_menu li.dt-open>.mobile-toggle:before, #mobile_menu .sub-menu li.dt-open .mobile-toggle:before {
		transform: rotate(180deg)
	}
}

@media (min-width: 768px) and (max-width: 1149px) {
	#main-header .sub-menu li a, #main-header .second-level-sub-menu li a {
		padding: 10px 5%;
	}
	
	#main-header .second-level-sub-menu .menu-item:before {
		top:17px;
	}
	
	#main-header .et_mobile_menu .second-level-sub-menu.visible {
		padding: 10px 40px !important;
	}
	
	ul.et_mobile_menu li.menu-item-has-children .mobile-toggle,
#mobile_menu li.menu-item-has-children .mobile-toggle,
#mobile_menu .sub-menu li .mobile-toggle {
	max-height: 91px;
}
	
	#main-header .sub-menu .second-level-sub-menu li a {
    max-width: 660px;
	}
	
	.et_mobile_menu .menu-item-has-children>a {
		background-color: transparent;
	}
}

@media (max-width: 767px) {
    #mobile_menu li a {
        font-size: 20px;
        line-height: 40px;
    }
	
	#main-header .sub-menu li a:after, #mobile_menu .sub-menu li.dt-open a:after {
		bottom: -6px;
	}
	
	.et-db #et-boc .sub-menu li .mobile-toggle {
	max-height: 71px;
}
	
	#mobile_menu li.menu-item-has-children .mobile-toggle:before {
		top: 50%;
	}
	
	#mobile_menu li ul.sub-menu .mobile-toggle:before {
		top: calc(50% - 11px);
	}
}

@media (max-width: 980px) {
    .et_pb_menu .et_pb_menu__menu {
        display: block!important;
    }
	
	.et_mobile_nav_menu {
		display: none!important;
	}
	
	.et_pb_menu--style-left_aligned .et_pb_menu__wrap {
		justify-content: flex-start;
	}
}